.Navbar{
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}
h1 a{
    color: black;
    text-decoration: none;
    font-family: monospace;
}
.Ul{
    list-style: none;
    display: flex;
}
.Li{
    padding-left: 40px;
    
}
.Li a{
    color: #5B5B5B;
    text-decoration: none;    
}